doctype html
html(lang='en')
  include ../common/head
  +head("Emails")
  body
    header
      include ../common/navbar
      +navbar(user)

      style(type="text/css").
        p {
          white-space: pre-line
        }

      .container
        .row.align-items-center
          .col-md-9.order-md-1.text-center.text-md-left.pr-md-5
          h1 Questions
          form(action=`javascript: submitExam()`)
            input(placeholder="The title of the test", id="examTitle")
            table.table
              thead
                tr
                  th(scope="col") Question
                  th(scope="col") Add to exam
              tbody
                for question in questions
                  tr(id=question.id)
                    td
                      p(name='question', id = question.id) #{question.question}
                    td
                      input(name='examCheckbox', type="checkbox", style={width: '24px', height: '24px'}).m-2.big-checkbox
            button(type="submit").btn.btn-primary.m-6 Save
  include ../common/footer
  +footer()

  script(src='/javascripts/exam.js')
