extends layout

block content
  h1 Email
  p 
    span #{email.email}
    |  
    a(href="/email/" + email.id + "/edit") Edit
    |  
    form(action="/email/" + email.id + "/delete", method="POST")
        button(type="submit") Delete