doctype html
html(lang='en')
  include common/head.jade
  +head("Some Testing")
  body
    header
      include common/navbar.jade
      +navbar()
      .container
        .row.align-items-center
          .col-md-9.order-md-1.text-center.text-md-left.pr-md-5
            h1.mb-3 Title
            p.lead Some text appears here. I can write a short thing or two to demonstrate that.
            p.lead.mb-4 AAAAAAAAAAAAAAAAAAAAa this is more text! Lorem ipsum dolor sit amet, ik weet de rest niet uit mijn hoofd.
            form(action="/", method="POST")
              .input-group.mb-3
                input(name="email_submitted", type="email", placeholder="Enter your email address").form-control
                .input-group-append
                  button(type="submit").btn.btn-primary Get Started


    include common/footer.jade
    +footer()

    script(src='/javascripts/emails.js')